<!DOCTYPE html>
<html lang="en">

<head>
    register
</head>

<body>
    <h1> Please register </h1>
    <form action="/register" method="POST" style="margin:150px;">
    <label for="email">Enter an Email:</label>
        <input id="email" type="email" name="email" placeholder="Email Address" style="width: 300px">
        <h1>
        <label for="password">Enter password:</label>
        <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
        </h1>
        <h3>
        <input type="submit" value="submit">
        </h3>
    </form>
</body>

</html>